.container-fluid {
  height: 90px;
  width: 100%;
}
#imagee {
   height: 90px;
  margin-left: 70px;
}

#rubbish {
  margin-left: -20px;
  margin-bottom: 5px;

}

#funmi {
  margin-left: 20px;
}

.nav-link {
  color: blue;
  margin-top: 50px;
}

.nav-link:hover {
  color: blue;
}


#stress {
  margin-left: 150px;
  margin-bottom: 9px;
  font-weight: bolder;
}

#GLOW::after {
  content: none;
}

#GLOW {
  margin-bottom: 9px;
  font-weight: bolder;
}

#stress::after {
  content: none;
}

#zain::after {
  content: none;
}

#zain {
  margin-bottom: 9px;
  font-weight: bolder;

}

 #ore { 
 
  background-image: url(../img/ll.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
}

#babes{
  font-size: 50px;
  font-weight: bolder;
}

#pone {
  color: white;
  font-size: 40px;
  margin-left: 250px;
  padding-top: 120px;
}

#ptwo {
  color: white;
  font-size: 47px;
  margin-left: 250px;
  font-weight: 900;
  margin-bottom: 10px;

}
#pthree{
  color: white;
  margin-left: 250px;
  font-size: 30px;
   padding-bottom: 30px;
}
#BLOW::after {
  content: none;
}

#BLOW {
  margin-bottom: 9px;
  font-weight: bolder;
}

#nini::after {
  content: none;
}

#nini {
  margin-bottom: 9px;
  font-weight: bolder;
}

#is::after {
  content: none;
}

#is {
  margin-bottom: 9px;
  font-weight: bolder;
  margin-left: 10px;
}
#fafa{
  margin-left: 30px;
  color: blue;
  margin-top: 55px;
 
}
#button{
 margin-left: 100px;
 height: 50px;
 width: 100%;
 margin-bottom: 30px;
}
#drop{
  background-color: blue;
}
#sign{
  display: flex;
  background-color: rgb(0, 132, 255);
  height: 100px;
  width: 100%;
  color: white;
}
#blade{
  margin-left: 100px;
  margin-top: 10px;
}
#up{
  font-size: 20px;
}
#hello{
  margin-top: 10px;
  margin-left: 50px;
}
/* #SIGN-UP{
  margin-left: 400px;
  height: 50px;
  width: 15%;
  margin-top: 30px;
  text-decoration-line: none;
  padding-left: 20px;
  background-color: rgb(0, 132, 255);
 font-size: 30px;

} */
#SIGN-UP{
  color: white;
  margin-left: 30px;
 margin-top: 18px;
 border:salmon ;
 border-width: 3px;
 border-color: white;
 border-style: solid;
 border-radius: 10px;
 width: 15%;
 height: 50px;
 background-color:rgb(0, 132, 255) ;
}
#up{
  text-decoration: none;
  font-size: 20px;
  color: white;

}
#in{
  border-style: none;
  background-color:rgb(0, 132, 255); ;
  margin-left: 5px;
  margin-bottom: 0px;
}

::placeholder{
  color: white;
  font-size: 18px;
}
#know{
  padding-top: 30px;
  padding-bottom: 0px;
  margin-left: 40px;
}
hr{
  background-color: white;
  opacity: 1;
  height: 2px;
  margin-top: 0px;
  width: 100%;
}
#nah{
  height: 400px;
  width: 100%;
 filter: grayscale(100%);
}
#seventeen{
  height: 400px;
  width: 100%;
filter: grayscale(100%);
opacity: 50%;
margin-top: 10px;
}
#eighteen{
  position: absolute;
  margin-top: -400px;

  margin-left: 100px;
  font-weight: bold;
}
#foster{
  font-size: 49px;
  margin-left: 70px;
  margin-top: 30px;
}
#not{
  color: blue;
  font-size: 25px;
  margin-top: -20px;
  margin-left: 10px;
}
#moo{
  font-size: 20px;
}
#dert{
  height: 400px;
  width: 2%;
}
#grt{
  height: 500px;
  width: 60%;
  display: flex;
}
#uuu{
  background-color: orchid;
  height: 500px;
  width: 40%;
}
#okk{
  height: 500px;
  width: 60%;
  display: flex;
}

#jjj{
  height: 500px;
  width: 60%;
  display: flex;
}